@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@layer base {
  button:enabled {
    cursor: pointer;
  }
}

/* Disable all animations when user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  :root {
    @apply !scroll-auto;
  }

  * {
    @apply !animate-none !transition-none;
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
}
